/node_modules
/erp/public/hot
/erp/public/storage
/erp/storage/*.key
/erp/vendor
/erp/.env
/erp/.env.backup
/erp/.phpunit.result.cache
/erp/Homestead.json
/erp/Homestead.yaml
/erp/npm-debug.log
/erp/yarn-error.log
/vendor

/erp/vendor/

